click==6.7
Flask==0.12.2
gunicorn==19.7.1
Flask-WTF==0.14.2
Flask-Login==0.4.1
Flask-Migrate==1.8.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.12.2
WTForms==2.1
requests==2.18.4
alembic==1.0.0
psycopg2==2.7.5
urllib3==1.22
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.10
