body {
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-transform: uppercase; letter-spacing: 0.06em; margin-bottom: 40px;
}

#map {
    width: 100%; height: 400px; margin-top: 40px; margin-bottom: 0px;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
}
.info-content {
    color: #999;
}


.results-table {
  max-width: 930px;
  min-height: 200px;
  position: top;
  padding: 5px;
  margin: auto;
  margin-top: 25px !important;

}

.btn-toolbar {
  max-width: 930px;
  min-height: 200px;
  padding: 5px;
  margin: auto;
  margin-top: 25px ;
}

.show-map {
  max-width: 830px;
  min-height: 400px;
  padding: 5px;
  margin: auto;

}

.centered {
  position:relative; width:1280px;
  max-width: 780px;
  position: relative;
  min-height: 600px;
  padding: 75px;
  margin: auto;
    }


.aboutus {
  padding: 3rem 1.5rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  }