body {
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-transform: uppercase; letter-spacing: 0.06em; margin-bottom: 40px;
}

#map {
    width: 100%; height: 400px; margin-top: 40px; margin-bottom: 0px;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
}
.info-content {
    color: #999;
}

#decodetable {
  position:relative;
  width:1000px;
  min-height: 600px;
  padding: 50px;
  margin: auto;
}


.btn-toolbar {
  max-width: 930px;
  min-height: 200px;
  padding: 5px;
  margin: auto;
  margin-top: 25px ;
}

.show-map {
  max-width: 830px;
  min-height: 400px;
  padding: 5px;
  margin: auto;

}

.centered {
  position:relative; width:1280px;
  max-width: 930px;
  position: relative;
  min-height: 600px;
  padding: 75px;
  margin: auto;
    }


#map_container{
  position: relative;
}

#map{
    height: auto;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: bottom;
}

