body {
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-transform: uppercase; letter-spacing: 0.06em; margin-bottom: 40px;
}



.info-window {
    font-family: 'Montserrat', sans-serif;
}
.info-content {
    color: #999;
}

#decodetable {
  position:relative;
  width:1000px;
  min-height: 1000px;
  padding: 50px;
  margin: auto;
}


.btn-toolbar {
  max-width: 1000px;
  min-height: 200px;
  padding: 5px;
  margin: auto;
  margin-top: 25px ;
}




#map{
    height: auto;
    overflow: hidden;
    padding-bottom: 50%;
    padding-top: 30px;
    position: bottom;
}

