
body {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #B8BFBF;
}



.form-signin {
  max-width: 1000px;
  position: relative;
  min-height: 300px;
  padding: 25px;
  margin: auto;
}
#myform {
  position:relative;

  max-width: 1000px;
  position: top;
  min-height: 600px;
  padding: 15px;
  margin: auto;

}

#intro {
  padding: 3rem 1.5rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
    }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 25px;

}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


