
{% extends "layout.html" %}
{% block title %}Decoded Beacon{% endblock %}
{% block head %}
  {{ super() }}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>


{% endblock %}
 {% block content %}
  <body>
  <div class="container">
  <br>
  <h1> Batch File Decoder </h1>


<br>
    <a class="small" id="download-url" href=""  >

   <h6 id="working"  > </h6></a>


      <h3>Select Fields to Decode</h3>
      {% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

    <form method="POST" action="/submit-form/">
        <input type="hidden"   id="filename"   name="filename" value="" >
        <input type="hidden"   id="presignurl"   name="presignurl" value="" >


        <div><input type="checkbox" name="choices" value="country" > Country  </div>
        <div><input type="checkbox" name="choices"  value="mid"> MID identifier</div>
        <div><input type="checkbox" name="choices"  value="beacontype"> Beacon Type </div>
        <div><input type="checkbox" name="choices"  value="cancellation">  Cancellation Message</div>
        <div><input type="checkbox" name="choices"  value="msg_note"> Message Text</div>
        <div><input type="checkbox" name="choices"  value="location"> Location </div>
         <div><input type="checkbox" name="choices"  value="vessel_id"> Vessel Identification</div>
        <div><input type="checkbox" name="choices"  value="threeLD"> Three Letter Designator</div>
        <div><input type="checkbox" name="choices"  value="altitude"> Altitude </div>
        <div><input type="checkbox" name="choices"  value="bch_valid"> Validate bch </div>

      <hr>
        <br>
 <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01"> File Upload </span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" id="labinput" for="inputGroupFile01"> Choose file </label>

    </div>



</div>
        <br>
        <hr>
      <input type="submit" value="Compute">

    </form>

</div>



    <script type="text/javascript">

    /*
      Function to carry out the actual POST request to S3 using the signed request from the Python app.
    */
    function uploadFile(file, s3Data, url,filename){
      const xhr = new XMLHttpRequest();
      xhr.open('POST', s3Data.url);


      const postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
        console.log(key)
        console.log(s3Data.fields[key])
      }

      postData.append('file', file);

      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            /* getSignedRequestTarget(filename); */
              console.log(filename);
          }
          else{
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }

    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);

      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            document.getElementById('filename').value=response.filename;
            uploadFile(file, response.data, response.url,response.filename);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }
function getSignedRequestTarget(filename){
      const xhr = new XMLHttpRequest();
      document.getElementById('download-url').href ='';
      xhr.open('GET', `/sign-s3-target?file-name=${filename}`);
      console.log(filename);
      var done = '';
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
                var idVar = setInterval(()=> {
                UrlExists(filename,response,idVar);
                }, 1000);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }
    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */


  function UrlExists(filename,url,idVar)  {
    const xhr = new XMLHttpRequest();
    xhr.open('GET', `/exists?file-name=${filename}`);
    xhr.onreadystatechange = () => {
      if (xhr.readyState === 4) {

        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          console.log(response);
          if(response){
          document.getElementById("working").innerHTML = url;
          document.getElementById('download-url').href = url;
          clearInterval(idVar);
          }else
          {document.getElementById("working").innerHTML = 'File creation in progress...';}
        }
      }
    };
    xhr.send();
}

    function initUpload(){
      const files = document.getElementById('inputGroupFile01').files;
      const file = files[0];
      if(!file){
        return alert('No file selected.');
      }
        document.getElementById("labinput").innerHTML = file.name;
      getSignedRequest(file);
    }
     (() => {
      document.getElementById('inputGroupFile01').onchange = initUpload;
    })();
    </script>
  </body>
</html>
{% endblock %}
