{% extends "output.html" %}
{% block title %}Decoded Beacon Long{% endblock %}
{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
{% endblock %}

 {% block content %}

{{super()}}


{% endblock %}
{% block scripts %}
{{super()}}
<script type=text/javascript src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/gmap.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw4IpZdm6D7ob00fF9F9TjuZ2Eeif9QtE&callback=initMap" async defer></script>

{% endblock %}

