{% extends "layout.html" %}
{% block title %}Index {{user}} {% endblock %}

{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="myform">
      <form class="form-signin" id="decodeHex" action="/decode"  method="POST">
        <h2 class="form-signin-heading">Beacon Hex Decoder</h2>
        <label for="inputhexcode" class="sr-only">Enter hexadecimal code</label>
          <div class="input-group" data-validate="hex">
        <input type="text" name="hexcode" id="inputhexcode"  class="form-control" placeholder="Enter hexadecimal code" required autofocus >
          <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
          </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" title="Enter valid hexidecimal (A-E 0-9)" id="hexbutton" disabled>Process</button>
        <div class="modal-body" style="strong">
          <span class="error-log"><br><div id="hexAlert" class="alert alert-danger collapse" role="alert" >
              <a id="linkClose" href="#" class="close" >&times;</a>
              <strong>Error! </strong><div id='echoResult'></div></div></span>
          </div>
      </form>
        <div id="intro">
        <p class="lead" >  <h3>Disclaimer</h3>
            <strong>This decoder is provided by the Secretariat of the International Cospas-Sarsat Programme on an as-is basis without warranty about accuracy or suitability</strong>

            </p>


<h3>Instructions for use:</h3>

            <p>Enter the beacon hexadecimal information
                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#instructions">
                      ?</button> above and click 'Process'. Do not enter blank spaces before, after or between the hexadecimal characters.
The length of the hexadecimal code must be either 15 or 23 characters for unique beacon identification numbers and accepts complete messages with encoded locations for first (FGB) and second generation beacons SGB  of 30 or 36 Hex for FGB  and  51 or 63 characters for SGB.
</p>

<p>If the program complains that a character is out of range, check the data entered to ensure that all digits are hexadecimal characters.
    For example ensure that the numerical digit "0" was not mistakenly entered as the letter "O"; if all appears correct, then verify that that blank spaces have not
    been entered either before the first character, after the last character, or in between the characters of the beacon message.
    Place the cursor before the first character and depress the back-space key until the characters are flush against the left edge of the input box,
    then place the cursor immediately after the last character and press the delete key (this will remove any blank spaces that were copied into the decode box before or after the beacon message).</p>


<h3>This Decode Program Tool is NOT a Means of Registering your Beacon.</h3>
<p>This tool tells you what information has been programmed into your beacon unique identifier or complete message. This beacon decode program tool is <span style="text-decoration: underline;">NOT</span> a means of registering your beacon and will <span style="text-decoration: underline;">NOT</span> register your beacon. You must ensure that you have properly registered your beacon at <a href="http://www.406registration.com">www.406registration.com</a>
    or otherwise with the proper authorities using the hexadecimal identificaiton (Hex ID) of the beacon and up-to-date registration information (such as your name and emergency contact informtion). </p>






        </div>

</div>

<!-- modal instructions -->
<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><strong>Locating Your Beacon HEX ID</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


<p>The Hex ID, beacon UIN, is a hexadecimal character string of a length of either 15, in the case of first generation beacons or 23 in the case of second generation beacons (valid range: numbers 0 through 9 and letters A through F),
    referred to as the beacon 15 Hex Identification, or 15 Hex ID. Your beacon’s 15 character Hex ID uniquely identifies your 406-MHz beacon and is encoded in the message your beacon transmits to search and rescue services if your beacon is activated.
    The Hex ID contains a country code that should match the flag of the aircraft or vessel (or residence country in the case of a PLB owner), and may include other identification information for the aircraft or vessel (depending on the protocol that was used when the beacon was electronically programmed). The aircraft or vessel identification included in the Hex ID may also contain the aircraft or vessel registration markings, the aircraft or vessel radio callsign, or other information.</p>
<p>You should find your beacon’s Hex ID on a label affixed to the beacon or in the beacon documentation provided by your beacon manufacturer. If you have difficulty locating your beacon Hex ID, contact your beacon manufacturer.</p>





      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>










{% endblock %}

{% block scripts %}
{{ super() }}

<script type=text/javascript>
function submitcode(){
    var $form = $(this).closest('form');
    $form.find(':input[type="submit"]').prop('disabled',false);
    $("#decodeHex").submit()
}
</script>

<script type=text/javascript>
    $('[title]').tooltip();
</script>


<script type=text/javascript>
 
$(document).ready(function(){
$('#inputhexcode').on('keyup change',function()
        {var $form = $(this).closest('form'),
        $group = $(this).closest('.input-group'),
		$addon = $group.find('.input-group-addon'),
		$icon = $addon.find('span');
        $.getJSON
            ($SCRIPT_ROOT+'/validatehex', {hexcode: $('input[name="hexcode"]').val(),lenval:[15,30,36,22,23,28,51,63]},function(data)
                {$("#statuscheck").text(data.echostatus);
                if(data.echostatus=='valid'){
                        $form.find(':input[type="submit"]').prop('disabled', false);
                        $addon.removeClass('danger');
				        $addon.addClass('success');
				        $icon.attr('class', 'glyphicon glyphicon-ok');
                        $("#echoResult").text("");
                        $('#hexAlert').hide('fade');
                        }

                else{
                        $form.find(':input[type="submit"]').prop('disabled', true);
                        $("#echoResult").text(data.message);
                        $addon.removeClass('success');
				        $addon.addClass('danger');
				        $icon.attr('class', 'glyphicon glyphicon-remove');
				        $('#hexAlert').show('fade');
				        setTimeout(function(){
                            $('#hexAlert').hide('fade');
                            },5000);


                    }
                }
            );
             return false;
        }
    ); //end bind

        $('#linkClose').click(function(){
            $('#hexAlert').hide('fade');
         });
         $('#hexbutton').mousedown(function(){
        var mb=$("#statuscheck").text();
        var $form = $(this).closest('form');
        if(mb=='valid'){
        $form.find(':input[type="submit"]').prop('disabled', false);
        }});


}
);  </script>


{% endblock %}

