{% extends "layout.html" %}
{% block title %}Decoded Beacon {% endblock %}
{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}


    <div class="container">
      <form id='myForm' name="test" action="#">
        <div class="form-group" id="combo-group">
          <label for="combo">Initial select</label>
          <select id="combo" name="fruit" class="my-combo" data-btn-class="btn-success">
            {% for country in countries %}
                <option value="{{country}}">{{country}}</option>
            {% endfor %}

          </select>

        </div>

        <div class="ui-widget">
          <label for="tags">Tags: </label>
          <input id="tags">
        </div>

        <div class="radio">
          <label><input type="radio" name="optradio" value="1">Option 1</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio" value="2">Option 2</label>
        </div>










        <p class="debug">Selected value (<tt>change</tt> event): <strong class="selected">-</strong></p>


          <div id="pieces">
        <div id="1" style="visibility:hidden" class="panel">First Div</div>
        <div id="2" style="visibility:hidden" class="panel">Second Div</div>
            </div>



      </form>
</div>



{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/bootstrap-combobox.min.js') }}"></script>

<script type="text/javascript">
$('#combo').on('change', function() {
$(".debug > .selected").text(this.value);
});

</script>

<script type="text/javascript">
$('#myForm input').on('change', function() {
   var panelselect = $('input[name=optradio]:checked', '#myForm').val();
    console.log(panelselect);
   if(panelselect=='1'){
        $('#1').css("visibility", "visible");
        $('#2').css("visibility", "hidden");} else {
         $('#2').css("visibility", "visible");
        $('#1').css("visibility", "hidden");
}


});
</script>

  <script>
  $( function() {
    
    $( "#tags" ).autocomplete({
      

      source: function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.value); // not in your question, but might help later
        }


      });
  });
  </script>




{% endblock %}

