{% extends "layout.html" %}
{% block title %}Decoded Beacon{% endblock %}
{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<style media="screen" type="text/css">
     table {
     width:100%;
     }
     td {
       max-width: 0;
     }
     td.columnA {
     width:10%
     }
     td.columnB {
     width:15%;
       overflow:hidden;
       overflow-wrap:break-word;
       word-wrap: break-word;
     }
     td.columnC {
     width:35%
     }
     td.columnD {
     width:40%
     }
+ </style>

{% endblock %}

 {% block content %}
    <div id="decodetable">
  <h2>Encoding a SGB</h2>


</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bit Ranges</th>
        <th>Binary value</th>
        <th>Name</th>
		<th>Description</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td class="columnA"> 1 </td>
		<td class="columnB">1 </td>
		<td class="columnC">Fixed bit for SGB </td>
        <td class="columnD"></td>
    </tr>

<tr>
        <td class="columnA"> 2-11 </td>
		<td class="columnB"><span id="id_midbin">0000000000</span> </td>
		<td class="columnC">
        Country code : <span id="id_mid">?</span>
        </td>
        <td class="columnD">
                    <div id="id_ctry"  class="form-group ui-widget">
                        <div>
                       <input id="tags" class="form-control" >
                        <span id="id_miderror" class="help-block"></span>
                        </div>
                    </div>
        </td>
    </tr>
<tr>
        <td class="columnA"> 13-14 </td>
		<td class="columnB">101 </td>
		<td class="columnC">Fixed bits for SGB</td>
        <td class="columnD"> </td>
    </tr>

    <tr>
        <td class="columnA"> 15-30 </td>
		<td class="columnB"><span id="id_tabin">0000000000000000</span> </td>
		<td class="columnC">C/S TAC# (max 65,535): <span id="id_tadec">0</span></td>
        <td class="columnD">
                    <input type="number" class="form-control" name="tano_input" value="0" id="id_tanoinput" min="0" max="65535" step="1" data-bind="value:id_tanoinput" >
                    <span id="id_tanoerror" class="help-block"></span>
        </td>
    </tr>

     <tr>
     <td class="columnA"> 31-44 </td>
		<td class="columnB"><span id="id_snbin">00000000000000</span> </td>
		<td class="columnC">Beacon S/N (max:16,383) :<span id="id_sndec">0</span> </td>
        <td class="columnD">
                    <input type="number" class="form-control" name="sn_input" value="0" id="id_sninput" min="0" max="16383" step="1" data-bind="value:id_sninput" >
                    <span id="id_snerror" class="help-block"></span>
        </td>
     </tr>
    <tr>
     <td class="columnA"> 45 </td>
		<td class="columnB"><span id="id_test">0</span> </td>
		<td class="columnC">Test protocol flag (0 or 1)  </td>
        <td class="columnD">
         <div class="checkbox">
              <label><input type="checkbox" id="id_tprot" >Set test flag</label>
            </div>
        </td>
    </tr>

      <tr>
          <td class="columnA"> 46-48 </td>
          <td class="columnB"><span id="id_idtype">000</span> </td>
          <td class="columnC">Aircraft/Vessel ID type </td>
    <td class="columnD">
                                <select class="form-control" id="id_vesselidtype" name="vesselidtype">
                                <option value="000">000 - No aircraft or maritime identity</option>
                                <option value="001" >001 – Maritime MMSI</option>
                                <option value="010" >010 – Radio call sign</option>
                                <option value="011" >011 – Aircraft Registration Marking (Tail Number)</option>
                                <option value="100" >100 – Aircraft aviation 24 Bit Address</option>
                                <option value="101" >101 – Aircraft operator and serial number</option>
                                <option value="110" >110 – Spare</option>
                                <option value="111" >111 – Reserved for System Testing</option>
                                </select>
    </td>


</tr>
    <tr>
     <td class="columnA"> 49-92 </td>
		<td class="columnB"><span id="id_vesselidvalue">00000000000000000000000000000000000000000000</span> </td>
		<td class="columnC"> Vessel Identification  </td>
        <td class="columnD">

            <div class="collapse tohide" id="id_novessel">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>



            <div id="id_mmsi" style="display: none;" class="collapse tohide">
                        <label for="id_mmsi_input"  >MMSI ( 0-999999 ) :</label>

                        <input type="number" class="form-control" name="mmsi_input" min="0" max="999999" step="1" id="id_mmsi_input" data-bind="value:id_mmsi_input">
                        <span id="id_mmsierror" class="help-block"></span>

                        <label for="id_epirbais_input">EPIRB-AIS  (0-9999 ) :</label>
                        <input type="number" class="form-control" name="epirbais_input" min="0" max="9999" step="1" id="id_epirbais_input" data-bind="value:id_epirbais_input">
                        <span id="id_epirbaiserror" class="help-block"></span>









            </div>
                        <div class="collapse tohide" id="id_radio">
             RADIO Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </td>
    </tr>




    </tbody>
  </table>
        <div class="btn-toolbar">
        <a href="/decode" class="btn btn-danger"  style="margin-top: auto ; display:block; text-align: center">
          <span class="glyphicon glyphicon-home" style="color:gray"></span> Return
        </a>

        </div>

</div>



{% endblock %}
{% block scripts %}
{{super()}}
<script type=text/javascript src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap-combobox.min.js') }}"></script>
<!--<script src="{{ url_for('static', filename='js/selectcountry.js') }}"></script>-->





<script type="text/javascript">
  $( function() {
    $( "#tags" ).autocomplete({
      source: function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });

		},
        minLength: 2,
        select: function(event, ui) {
            var country = ui.item.value
            console.log(country);
             


  $.getJSON("{{url_for('getmid')}}", {
        a: country
      }, function(data) {
        $("#id_mid").text(data.mid);
        $("#id_midbin").text(data.midbin);
      });
  },
		change: function (event, ui) {
                if(!ui.item){
                    //http://api.jqueryui.com/autocomplete/#event-change -
                    // The item selected from the menu, if any. Otherwise the property is null
                    //so clear the item for force selection
                    $("#tags").val("");
                    $("#tags").focus();
                    alert('Valid selection required');
                }
            }


	  });
  });



  </script>



<script type="text/javascript">
$( "#id_tanoinput" ).change(function() {
 var ta = $("#id_tanoinput").val() ;
$.getJSON("{{url_for('getta')}}", {
        a: ta
      }, function(data) {
        $("#id_tabin").text(data.tacbin);
        $("#id_tadec").text(data.tadec);

      });
}  //change function
);
</script>

<script type="text/javascript">
$( "#id_sninput" ).change(function() {
 var sn = $("#id_sninput").val() ;
$.getJSON("{{url_for('getsn')}}", {
        a: sn
      }, function(data) {
        $("#id_snbin").text(data.snbin);
        $("#id_sndec").text(data.sndec);
      });
}  //change function
);
</script>

<script type="text/javascript">
$( "#id_tprot" ).change(function() {
if ( $("#id_tprot").prop("checked"))
{
 $("#id_test").text('1');

        } else {
  $("#id_test").text('0');

 }
 }//change function
);
</script>


<script type="text/javascript">
$( "#id_vesselidtype" ).change(function() {
var vtype= this.value
$("#id_idtype").text(vtype);

$('.tohide').hide();

switch(vtype){

case '000':
case '110':
case '111':
 $("#id_novessel").show();
$("#id_vesselidvalue").text('00000000000000000000000000000000000000000000');
break;

case '001':


$("#id_mmsi").show();
$("#id_vesselidvalue").text('00000000000000000000000000000000000000000000');
$('#id_mmsi_input').val("0");
$('#id_epirbais_input').val("0");
break;

case '010':

$("#id_radio").show();
break;

 } //end switch
 }// end change
);
</script>




{% endblock %}
