{% extends "layout.html" %}
{% block title %}Decoded Beacon {% endblock %}
{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->

    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}

<div class="centerpane">

    <div class="row" >
        <div class="col-lg-4" >
            <form class="form-horizontal" action="." method="GET" role="form" id="genform">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="id_gen" data-placement="top" data-toggle="tooltip" title="title">Beacon Generation and protocol</label>

                    <div class="col-lg-10">
                        <div class="content row">
                            <div class="col-xs-3" style="padding-right: 5px;">
                                <select class="form-control" id="id_gen" name="optgen">
                                <option value="0"  >---select---</option>
                                <option value="1"  >First (T.001)</option>
                                <option value="2">Second (T.018)</option>
                                </select>
                            </div>
                            <div class="col-xs-3"  style="padding-right: 5px;">
                                <select class="form-control" id="id_beacontype" name="beacontype">
                                <option value="0">---beacon type---</option>
                                <option value="ELT" >ELT</option>
                                <option value="EPIRB">EPIRB</option>
                                <option value="PLB">PLB</option>
                                <option value="TEST">Test/Spare</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <select class="form-control" id="id_protocol" name="protocol" disabled>
                                    <option value="0">---select---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



<div class="col-lg-10">
    <form class="form-horizontal" action="." method="GET" role="form">

            <div class="ui-widget" style="margin:25px;overflow:hidden;">
                <label for="tags">Country: </label>
                <input id="tags" style="width:75%">
                <input type="text" style="visibility: hidden" name="country" id="ctry">
            </div>

    </form>
</div>




        <div class="col-lg-10">
            <form id="genformpanel" class="form-inline" role="form">
                <div id="id_tano" style="display: none;" class="panel panel-default tohide">
                    <label for="id_tanoinput">Type Approval certificate number:</label>
                    <input type="text" class="form-control" name="tano" id="id_tanoinput">
                </div>

                <div id="1" style="display: none;" class="panel panel-default tohide">
                    <div class="panel-heading">First-generation beacon identification:</div>

                    <div class="panel-body">
                      <label for="id_input1">Input for first gen:</label>
                      <input type="text" class="form-control" name="input1" id="id_input1">
                        <label for="id_input3">Input for first gen:</label>
                      <input type="text"  class="form-control" name="input3" id="id_input3">
                    </div>
                </div>
                <div id="2" style="display: none;" class="panel panel-default tohide">
                    <div class="panel-heading">Second-generation beacon identification</div>
                    <div class="panel-body">
                        <label for="id_input2">Input for second gen:</label>
                        <input type="text" class="form-control" name="input2" id="id_input2">
                    </div>
                </div>

                <div id="1-1-011-011" style="display: none;" class="panel panel-default tohide">
                    <div class="panel-heading">Serial User: ELT 24-bit Address Protocol</div>
                    <div class="panel-body">

                        <label for="id_elt24bitaddress_serialuser">ELT 24-bit Address:</label>
                        <input type="text" class="form-control" name="elt24bitaddress_serialuser" id="id_elt24bitaddress_serialuser">
                        <label for="id_beaconno">Specific beacon number:</label>
                        <input type="text" class="form-control" name="beaconno" id="id_beaconno">
                        <label for="id_auxdevice">Auxiliary device:</label>
                        <input type="text" class="form-control" name="auxdevice" id="id_auxdevice">
                    </div>
                </div>
              </form>
        </div>






                <div class="form-group btn-toolbar" id="process">
                    <div class="col-lg-offset-4 col-lg-8">
                        <button class="btn" type="reset">Clear</button>
                        <a href="#" class="btn btn-success" id="done" style="margin-top: auto ; display:block; text-align: center">
                        <span class="glyphicon glyphicon-ok" style="color:gray"></span>Compute
                        </a>
                        <div id="decoded"></div>
                    </div>
                </div>





</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/bootstrap-combobox.min.js') }}"></script>

<script type="text/javascript">
$("#done").click(function() {
  var n_input = $('#id_input1').val();
  var ctry=$('#ctry').val();
  console.log(n_input,ctry);
  $.getJSON($SCRIPT_ROOT+'/processhex',  $('form').serialize(),function(data){
            if(data.echostatus=='valid'){
                console.log(data.returndata);
                $('#decoded').text(data.returndata);}
            else {
            $('#decoded').text(data.echostatus);
            }
                });
});
</script>
<script type="text/javascript">
 $('#id_gen').on('change', checkprotocol );
 $('#id_beacontype').on('change', checkprotocol );

function checkprotocol(){
 var pval = $('#id_gen').val() ;
  var beacon = $('#id_beacontype').val() ;
  $("#id_protocol").empty() ;
  $('.tohide').hide();
  $("#id_protocol").append($("<option></option>").attr("value",'0').text('---select---'));
  if(pval!='0' && beacon!='0'){newopt(pval,beacon);} else {$("#id_protocol").prop('disabled', true);}
 };


function newopt(a,b){
 $.getJSON
 ("{{url_for('filterlist')}}",{a: a, b: b},function(data){
 $("#id_protocol").prop('disabled', false);
 var newOptions = data.returndata;
 var $el = $("#id_protocol");
 $el.empty(); // remove old options
 $.each(newOptions, function(key,value) {
 $el.append($("<option></option>").attr("value", value).text(key));});
 });
 };
</script>

<script type="text/javascript">
$('#id_protocol').on('change', function() {
   var pselect = this.value;
   console.log(pselect);
   $('.tohide').hide();
   switch(pselect){case '1-1-001':
        $('#1').show();
        break;
   case '1-1-100':
         $('#2').show();
         break;
    case '1-1-011-011':
        $('#id_tano').show();
        $('#1-1-011-011').show();
        break;
   default:
         alert('none');
}
    });  //end on change
</script>

<script type="text/javascript">
$('#id_beacontype').on('change', function() {
   var btype = this.value;
    console.log(btype);
});
</script>



<script>
  $( function() {
    $( "#tags" ).autocomplete({
      source: function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            var country = ui.item.value
            console.log(country);
             $('input[name="country"]').val(country);
        }
      });
  });
  </script>




{% endblock %}
