{% extends "layout.html" %}
{% block title %}Decoded Beacon {% endblock %}
{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}


    <div class="container">


 <form id="genform" class="form-inline" role="form">
       <div class="form-group">
            <label class="control-label">Beacon Generation: </label>
       </div>

<div class="form-group">
      <div class="radio">
        <label class="radio-inline control-label"><input type="radio" name="optgen" id="gen_1" value="1" >First (T.001)</label>
      </div>
</div>


<div class="form-group">
      <div class="radio">
        <label class="radio-inline control-label"><input type="radio" name="optgen"  id="gen_2" value="2">Second (T.018)</label>
      </div>
</div>
</form>


        <form id='countryForm' name="test" action="#">

            <!--
        <div class="form-group" id="combo-group">
          <label for="combo">Initial select</label>
          <select id="combo" name="fruit" class="my-combo" data-btn-class="btn-success">
            {% for country in countries %}
                <option value="{{country}}">{{country}}</option>
            {% endfor %}
          </select>
        </div>            -->
        <div class="ui-widget">
          <label for="tags">Country Code: </label>
          <input id="tags">
        </div>
      </form>

<form id="beacontype" class="form-inline" role="form">
         <input type="radio" name="beacontype" value="ELT">ELT<br>
         <input type="radio" name="beacontype" value="EPIRB">EPIRB<br>
         <input type="radio" name="beacontype" value="PLB">PLB<br>
         <input type="radio" name="beacontype" value="TEST">Test or Spare
         <input type="text" style="visibility: hidden" name="country" id="ctry">
         <input type="text" name="decoded" id="decoded">
</form>




        <p class="debug">Selected value (<tt>change</tt> event): <strong class="selected">-</strong></p>


          <div id="pieces">
              <form id="genformpanel" class="form-inline" role="form">
                <div id="1" style="display: none;" class="panel">
                    <div class="form-group">
                      <label for="input1">Input for first gen:</label>
                      <input type="text" class="form-control" id="input1">
                    </div>
                </div>

                <div id="2" style="display: none;" class="panel">
                    <div class="form-group">
                        <label for="input2">Input for second gen:</label>
                        <input type="text" class="form-control" id="input2">
                    </div>
                </div>
              </form>

        </div>

</div>
       <div class="btn-toolbar">
        <a href="#" class="btn btn-success" id="done" style="margin-top: auto ; display:block; text-align: center">
          <span class="glyphicon glyphicon-ok" style="color:gray"></span> Done
        </a>
</div>


{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/bootstrap-combobox.min.js') }}"></script>


<script type="text/javascript">
$("#done").click(function() {

  var n_input = $('#input1').val();
  var ctry=$('#ctry').val();
  console.log(n_input,ctry);
  $.getJSON($SCRIPT_ROOT+'/processhex', {a: n_input, b: ctry},function(data){
            if(data.echostatus=='valid'){
                alert(data.returndata);
                console.log(data.returndata);
                $('#decoded').text(data.returndata);}
            else {
            $('#input2').text(data.returndata);
            alert('BAD');}

                });



});
</script>

<script type="text/javascript">
$('#combo').on('change', function() {
$(".debug > .selected").text(this.value);
});

</script>

<script type="text/javascript">
$('#genform input').on('change', function() {
   var panelselect = $('input[name=optgen]:checked', '#genform').val();
    console.log(panelselect);
   if(panelselect=='1'){
        $('#1').show();
        $('#2').hide();}
    if(panelselect=='2'){
         $('#2').show();
         $('#1').hide();
}
});
</script>

<script type="text/javascript">
$('#beacontype input').on('change', function() {
   var btype = $('input[name=beacontype]:checked', '#beacontype').val();
    console.log(btype);
});
</script>





<script>
  $( function() {
    
    $( "#tags" ).autocomplete({
      

      source: function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            var country = ui.item.value
            console.log(country);
             $('input[name="country"]').val(country);


        }


      });
  });
  </script>




{% endblock %}

