{% extends "output.html" %}
{% block title %}UIN message{% endblock %}

{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

{{super()}}

<div class="form-group" >
      <form class="form-horizontal"  action="/longfirstgen" >
        <h2 class="form-signin-heading">First Generation Beacon {{hexcode}} </h2>
          <input type="hidden"  name="hex_code" value="{{hexcode}}" style="min-width: 500px;">
        <button class="btn btn-sm btn-primary btn-block" type="submit"  id="encodebutton" >Encode Long Message</button>
      </form>
</div>



{% endblock %}
