{% extends "output.html" %}
{% from "_formhelpers.html" import render_field %}
{% if error %}
    <ul class=errors>

      <li>{{ error }}</li>

    </ul>
{% endif %}
{% block title %}UIN message{% endblock %}

{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="form-group">
      <form class="form-horizontal"  method="post" >
        <h2 class="form-signin-heading">First Generation Beacon {{hexcode}} </h2>
          <input type="hidden"  name="hex_code" value="{{hexcode}}" style="min-width: 500px;">
<dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.accept_tos) }}
  </dl>








        <button class="btn btn-lg btn-primary btn-block" type="submit"  id="encodebutton" >Compute Long Message</button>
      </form>
</div>



{% endblock %}
