{% extends "output.html" %}
{% block title %}UIN message{% endblock %}

{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
{% endblock %}
<style type="text/css">
    .important { color: #336699; }
</style>

{% block content %}

<div class="form-group" >
      <form class="form-horizontal"  action="" method="post" >
        <h2 class="form-signin-heading">First Generation Beacon {{hexcode}} </h2>


        <button class="btn btn-lg btn-primary btn-block" type="submit"  id="encodebutton" >Encode Long Message</button>
        <div class="modal-body" style="strong">
          <span class="error-log"><br><div id="hexAlert" class="alert alert-danger collapse" role="alert" >
              <a id="linkClose" href="#" class="close" >&times;</a>
              <strong>Error! </strong><div id='echoResult'></div></div></span>
          </div>
      </form>
</div>


{{super()}}



{% endblock %}

{% block scripts %}
{{ super() }}



{% endblock %}

