<!doctype html>
<html lang="en">
<head>

	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">

	<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
-->

	<!-- Bootstrap core CSS -->

	  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/inputgroup.css') }}" rel="stylesheet">
	  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	  <title>Cospas-Sarsat - {% block title %}{% endblock %}</title>
	{% endblock %}
	      </head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="https://cospas-sarsat.int/en/" title="International Cospas-Sarsat Programme">
                <img style="max-width:150px; margin-top: -7px;" alt="logo"
					 src="{{ url_for('static', filename='images/logo.png') }}">
			</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li id="homepage"><a href="/">Decode</a></li>
                 <li id="encoder" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Encode<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Create Unique Hex</li>

                        <li><a href="/encodehex">First generation beacon</a></li>
                        <li><a href="/encodehex">Second generation beacon</a></li>
                    </ul>
                </li>
                <li id="about"><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>

            </ul>

		</div>

    </div>
</div>

<!--
<div class="navbar navbar-default">

    <div class="navbar-inner">


        <div class="container">
            <a class="brand" href="#">
                <img alt="logo" src="{{ url_for('static', filename='images/logo.png') }}"></a>
        </div>
    </div>
</div>

-->

			    {% block content %}{% endblock %}




				<div id="footer">
						{% block footer %}
							&copy; Copyright 2017 by <a href="https://cospas-sarsat.int/">International Cospas-Sarsat Programme</a>.
						{% endblock %}
				</div>

<!-- Placed at the end of the document so the pages load faster -->
{% block scripts %}

<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
	<script type=text/javascript src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js') }}">\x3C/script>')</script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>



    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug-->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>

<script type=text/javascript>
$("#navbar li").each(function(index){
    $(this).removeClass("active");
    console.log( index + ": " + $( this ).text() );
});
</script>

<script type=text/javascript>
    $(".nav li").on("click", function() {
      $(".nav li").removeClass("active");
      $(this).addClass("active");
    });

</script>
{% endblock %}

</body>
</html>
