{% extends "layout.html" %}
{% block title %}Decoded Beacon {% endblock %}
{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">


    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<style media="screen" type="text/css">
     table {
     width:100%;
     }
     td {
       max-width: 0;
     }
     td.columnA {
     width:10%
     }
     td.columnB {
     width:15%;
       overflow:hidden;
       overflow-wrap:break-word;
       word-wrap: break-word;
     }
     td.columnC {
     width:25%
     }
     td.columnD {
     width:50%
     }
+ </style>

{% endblock %}

 {% block content %}
<div class="container">
    <div class="results-table">
  <h2>Decoded Beacon Message</h2>
  <p>The hex code decoded is: <strong>{{hexcode}}</strong></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bit Ranges</th>
        <th>Binary value</th>
        <th>Name</th>
		<th>Description</th>
      </tr>
    </thead>
    <tbody>
	{% for item in decoded %}
      <tr>
        <td class="columnA"> {{ item[0] }} </td>
		<td class="columnB">{{ item[1] }} </td>
		<td class="columnC"> {{ item[2] }} </td>
		<td class="columnD"> {{ item[3] }} </td>

      </tr>
	{% endfor %}
    </tbody>
  </table>


  {% if locationcheck %}


                <div id="geocoord"  data-geocode="{{ geocoord|tojson }}"></div>
                <div id="marker" data-marker="{{url_for('static', filename='css/images/marker.png')}}"></div>

    <div id="map"></div>
        <div class="row">
  <div class="col col-md-6">Lat: {{ geocoord[0]}}  Long: {{ geocoord[1]}}</div>
  <div class="col-6 col-md-6"></div>
</div>





  {% endif %}
</div>
<div class="btn-toolbar">
        <a href="/" class="btn btn-danger"  style="margin-top: auto ; display:block; text-align: center">
          <span class="glyphicon glyphicon-home" style="color:gray"></span> Home
        </a>
</div>

</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script type=text/javascript src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script src="{{ url_for('static', filename='js/gmap.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw4IpZdm6D7ob00fF9F9TjuZ2Eeif9QtE&callback=initMap" async defer></script>


{% endblock %}

