{% extends "layout.html" %}
{% block title %}Decoded Beacon{% endblock %}
{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<style media="screen" type="text/css">
     table {
     width:100%;
     }
     td {
       max-width: 0;
     }
     td.columnA {
     width:10%
     }
     td.columnB {
     width:15%;
       overflow:hidden;
       overflow-wrap:break-word;
       word-wrap: break-word;
     }
     td.columnC {
     width:35%
     }
     td.columnD {
     width:40%
     }
+ </style>

{% endblock %}

 {% block content %}
    <div id="decodetable">
  <h2>Decoded Beacon Message</h2>
  <p>The hexadecimal code entered was: <strong style="word-wrap:break-word">{{hexcode}}  </strong></p>
        <p>{{genmsg}}</p>

</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bit Ranges</th>
        <th>Binary value</th>
        <th>Name</th>
		<th>Description</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td class="columnA"> Country Code </td>
		<td class="columnB"> </td>
		<td class="columnC"> {{ mid }} </td>
		<td class="columnD">         <p><!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button> </td>
      </tr>
	{% for item in decoded %}
      <tr>
        <td class="columnA"> {{ item[0] }} </td>
		<td class="columnB">{{ item[1] }} </td>
		<td class="columnC"> {{ item[2] }} </td>
		<td class="columnD"> {{ item[3] }} {% if 1==1 %} hi {% endif %} </td>
      </tr>
	{% endfor %}
    </tbody>
  </table>
        <div class="btn-toolbar">
        <a href="/decode" class="btn btn-danger"  style="margin-top: auto ; display:block; text-align: center">
          <span class="glyphicon glyphicon-home" style="color:gray"></span> Return
        </a>
            <a href="/bch/{{hexcode}}" class="btn btn--default"  style="margin-top: auto ; display:block; text-align: center">
          <span class="glyphicon glyphicon-star" style="color:gray"></span> Save BCH
        </a>
</div>

  {% if locationcheck %}
        <p>Encoded location</p>
                <div id="geocoord"  data-geocode="{{ geocoord|tojson }}"></div>
                <div id="marker" data-marker= "{{url_for('static', filename='css/images/marker.png')}}"></div>
    <div id="map"></div>
        <div class="row">
  <div class="col col-md-6">Lat: {{ geocoord[0]}}  Long: {{ geocoord[1]}}</div>
  <div class="col-6 col-md-6"></div>
    </div>
  {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{super()}}
<script type=text/javascript src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/gmap.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw4IpZdm6D7ob00fF9F9TjuZ2Eeif9QtE&callback=initMap" async defer></script>

{% endblock %}

